.SurveyNameContainer {
  display: flex;
  background-color: #b18c2c;
  padding: .5rem;
  margin-bottom: 1rem;
}

.SurveyNameContainer h6 {
  align-self: center;
  color: #282f40 !important;
  padding-left: .5rem;
  font-size: .8rem;
  position: relative;
}

.SurveyNameContainer button {
  color: #fff;
  background: transparent;
  border: none;
  margin-left: 1rem;
  transform: translateY(-4px);
}

.SurveyNameContainer input {
  padding: 0;
  font-size: .8rem;
  height: auto;
  border-radius: 0;
}

.SurveyNameContainer button:active, .SurveyNameContainer button:hover {
  background-color: transparent !important;
  color: #eee;
}

.SurveyNameContainer h4 {
  color: #fff !important;
  font-size: .8rem;
}
