.SurveyList {
  font-size: 1rem !important;
  position: relative;
}

.SurveyList h2 {
  font-size: 1rem !important;
}

.TableRow {
  cursor: pointer;
}

/* .TableRowContainer {
  position: relative;
} */


.TableRow:hover {
  background-color: #ccc;
}

.LoaderBox {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 1000;
}

.LoaderBox img {
  width: 60%;
  margin-top: 20%;
}
